@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';

.PriceTable {
   &--Active {display: block;}
   @include respond(bp2) {width: 30rem;}
}

.Table {
   &__List {
      & > *:last-child {
         border-bottom: 3px solid $color-green-light;
         border-left: 3px solid $color-green-light;
         border-right: 3px solid $color-green-light;
         border-bottom-right-radius: 3px;
         border-bottom-left-radius: 3px;
      }
   }

   &__Header-Row, &__Body-Row {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__Header-Row {
      background-color: $color-green-light;
      color: $color-dark-white;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
   }

   &__Body-Row {
      color: #222;
      border-bottom: 3px solid $color-green-light;
      border-left: 3px solid $color-green-light;
      border-right: 3px solid $color-green-light;
   }

   &__Header-Col, &__Body-Col {
      flex-basis: 30%;
      padding: 1.5rem 0;
      text-align: center;
   
   }

   &__Header-Col {
      font-size: 1.7rem;
      font-weight: 700;
      text-transform: uppercase;
      @include respond(bp2) {font-size: 1.3rem;}
      &--1 {
         text-align: left;
         padding-left: 1rem;
         font-weight: 700;
      }
   }
   &__Body-Col {
      font-size: 1.7rem;
      font-weight: 400;
      @include respond(bp2) {font-size: 1.3rem;}

      &--1 {
         text-align: left;
         padding-left: 1rem;
         font-weight: 700;
      }
   }
}