@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './../src/styles/mixins.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,button,input,textarea {
  font-family: 'Roboto', sans-serif;
}

.Spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

