@import './../../styles/mixins.scss';

.Advertisement-Box {
   margin-top: 8rem;
   &__Header {
      font-size: 4rem;
      text-align: center;
      color: #417058;
   }
}

.Advertisement-Link {
   text-decoration: none;
}

.Advertisement {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url(./../../assets/images/ariix-image.jpg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   margin-top: 3rem;
   background-color: #bba167;
   width: 100%;
   height: 20rem;
   text-align: center;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   &__Text {
      color: #ffff;
      font-size: 2rem;
      margin-top: 1rem;
   }

   &__Placeholder {
      display: block;
      overflow: hidden;
      font-size: 3rem;
      color: #fff;
      @include respond(bp11) {font-size: 3.5rem;}
   }
}