@import './../../../styles/mixins.scss';
@import './../../../styles/colors.scss';

.Weather {
   display: flex;
   border-radius: .2rem;
   width: 10rem;
   overflow: hidden;
}

.Weather-LeftSide {
   width: 100%;
   // padding: .5rem 0 .5rem 1rem;
   &__Location {
      color: $color-grey;
      font-size: 1rem;
      // text-shadow: -1px 2px 2px #222;
      letter-spacing: .1rem;
   }

   &__Temperature {
      display: inline-block;
      color: $color-black;
      font-size: 2rem;
      font-weight: 700;
   }
}

.Weather-RightSide {
   width: 10rem;
   &__Icon {
      width: 4rem;
      height: auto;
   }
}