@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';

.Form-Input, .Search-Input {
   background-color: $color-grey-light;
   border: none;
   border-radius: .3rem;
   padding: 1rem 2rem;
   font-size: 1.4rem;
   outline: none;
   cursor: pointer;
   width: 100%;
   &::placeholder {color: $color-grey;}
   &:disabled {
      background-color: darkgrey;
      cursor: not-allowed;
   }

   @include respond(bp)
}
.Search-Input {
   @include respond(bp8) {
      padding: 1rem 2rem;
      font-size: 1.2rem;
   }
}

.Auth-Form-Input {
   width: 100%;
   padding: .5rem;
   font-size: 1.5rem;
   border-radius: .3rem;
}

.TextArea {
   max-width: 100%;
   height: 10rem;
   outline: none;
   padding: 1rem 2rem;
   font-size: 1.4rem;
}
