@import './../../../styles/colors.scss';
@import './../../../styles/mixins.scss';

.Button {
   padding: 1rem 2rem;
   font-size: 1.4rem;
   font-weight: 500;
   color: $color-dark-white;
   border: none;
   outline: none;
   border-radius: .3rem;
   transition: background-color .2s;
   cursor: pointer;

   &__Green, &__GreenSearch { 
      color: $color-dark-white;
      background-color: $color-green-dark;
      &:hover {background-color: $color-green-light;}

      &--Active {
         color:$color-green-dark;
         background-color: $color-grey;
         -webkit-box-shadow: 0px 0px 5px .1px rgba(0,0,0,0.75);
         -moz-box-shadow: 0px 0px 5px .1px rgba(0,0,0,0.75);
         box-shadow: 0px 0px 5px .1px rgba(0,0,0,0.75);
      }
   }
   &__GreenSearch span {
      @include respond(bp8) {
         display: none;
         background-image: url(./../../../assets/images/search.svg);
         background-repeat: no-repeat;
         background-size: 10%;
      }
   }
   &__GreenSearch  {
      @include respond(bp8) {
         background-image: url(./../../../assets/images/search.svg);
         background-repeat: no-repeat;
         background-size: contain;
         background-color: transparent;
      }
   }

   &__GreenMarginTop { 
      margin-top: 2rem;
      color: $color-dark-white;
      background-color: $color-green-dark;
      &:hover {background-color: $color-green-light;}
   }

   &__White {
      color: $color-green-dark;
      font-weight: 700;
      font-size: 1.6rem;
      background-color: $color-dark-white;
      &:hover {background-color: $color-grey-light;}
   }
   &__Red {
      color: $color-white;
      background-color: red;
   }

   &__Blue {
      color: $color-white;
      background-color: royalblue;
      margin-top: 2rem;
   }
}


