@import './../../styles/colors.scss';
@import './../../styles/mixins.scss';

.PricePage {
   &__Heading  {
      text-transform: uppercase;
      font-size: 4rem;
      text-align: center;
      color: #417058;
      font-weight: 700;
   }

   &__Hint {
      text-align: center;
      color:red;
      font-size: 2rem;
   }
}
.PricePage-Box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5rem;
   & > * {margin-bottom: 4rem;}
   &__Item {
      width:55%;
      @include respond(bp8) {width:95%;}
      @include respond(bp9) {width:95%;}
   }
   &__Header {
      font-size: 2.5rem;
      color: #222;
      margin-bottom: 1rem;
      padding-left: .8rem;
   }
   &__Block {
      width: 100%;
      border-radius: .7rem;
   }
}